window#waybar {
	background: @base00;
	opacity: 0.95;
	color: @base05;
	font-size: 15px;
	min-height: 10px;
	font-family: "JetbrainsMono Nerd Font";
}

window#waybar.hidden {
	opacity: 0.2;
}

#custom-launcher {
	font-size: 24px;
	padding: 0px 5px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	border-right: 2px solid @base03;
	transition: none;
	color: @base0E;
	background: @base00;
}

#custom-launcher:hover {
	color: @base0D;
}

#workspaces {
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 0px 10px 10px 0px;
	background: @base00;
	transition: none;
}

#workspaces button {
	transition: none;
	padding-top: 0px;
	padding-bottom: 0px;
	color: @base05;
	background: transparent;
	font-size: 20px;
	border-radius: 2px;
}

#workspaces button.occupied {
	transition: none;
	color: @base08;
	background: transparent;
}

#workspaces button.visible {
	color: @base05;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @base05;
	border-color: @base04;
}

#workspaces button.active {
	color: @base0E;
}

#workspaces button.urgent {
	color: @base08;
}

/* --- Modules --- */

#window {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px 0px 0px 10px;
	color: @base0E;
}

#cpu {
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 0px;
	transition: none;
	color: @base0D;
	background: @base00;
}

#custom-gpu {
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 0px;
	transition: none;
	color: @base0E;
	background: @base00;
}

#memory {
	padding-left: 0px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 0px 10px 10px 0px;
	transition: none;
	color: @base07;
	background: @base00;
}

#custom-media {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base0B;
	background: @base00;
}

#tray {
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px 0px 0px 10px;
	border-right: 2px solid @base03;
	transition: none;
	color: @base0C;
	background: @base00;
}

#custom-updates {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base08;
	background: @base00;
}

#pulseaudio {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 0px;
	border-right: 2px solid @base03;
	transition: none;
	color: @base05;
	background: @base00;
}

#clock {
	font-family: "Digital Display";
	font-size: 24px;
	padding-left: 10px;
	padding-right: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	transition: none;
	color: @base05;
	background: @base00;
	border-radius: 10px;
}

#clock.date {
	font-family: JetbrainsMono;
	margin-left: 8px;
	font-size: 15px;
	color: @base0E;
}
